body.dragging,
body.dragging * {
    cursor: move !important;
}

.dragged {
    position: absolute;
    opacity: 0.5;
    z-index: 2000;
}

ol#example li.placeholder {
    border: 2px solid black;
    position: relative;
    /** More li styles **/
}

ol#example li.placeholder:before {
    position: absolute;
    /** Define arrowhead **/
}

ol#second_example li.placeholder {
    border: 2px solid black;
    position: relative;
    /** More li styles **/
}

ol#second_example li.placeholder:before {
    position: absolute;
    border: 2px solid black;
    /** Define arrowhead **/
}