            body.dragging,
            body.dragging * {
                cursor: move !important;
            }
            
            body {
                margin: 0;
                padding: 0;
            }
            
            .dragged {
                position: absolute;
                opacity: 0.5;
                z-index: 2000;
            }
            
            .Heading {
                margin-top: 15px;
                font-family: sans-serif;
                font-size: 30px;
                font-weight: bolder;
                color: gray;
            }
            
            .Subheading {
                font-family: sans-serif;
                font-size: 20px;
                font-weight: normal;
                color: #c1c1c1;
            }
            
            .super_container {
                width: 100%;
                height: auto;
                display: block;
                padding-bottom: 30px;
                border-bottom: 2px solid gainsboro;
            }
            
            .sidebar {
                width: 15%;
                min-height: 700px;
                min-width: 210px;
                position: fixed;
                height: 100vh;
                background-color: #5085bd;
                box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.3);
                z-index: 10;
            }
            
            .user_section {
                width: 90%;
                margin-left: 0.5%;
                margin-top: 25px;
                height: 205px;
                padding: 5px 4.5% 0px 4.5%;
                text-align: center;
            }
            
            .user_img {
                font-size: 110px;
                color: white;
            }
            
            .user_name {
                width: 90%;
                display: block;
                background-color: #4d6b8c;
                border-radius: 40px;
                padding: 2% 5%;
            }
            
            .user_online_symbol {
                width: 11px;
                height: 11px;
                border-radius: 100%;
                background-color: #ff6a6a;
                float: left;
                margin-top: 4px;
            }
            
            .user_name_text {
                width: 90%;
                font-size: 15.5px;
                font-family: sans-serif;
                color: white;
            }
            
            .user_id {
                text-align: center;
                width: 90%;
                margin-left: 5%;
                padding-top: 10px;
                /* border-top: 2px solid #97b8da; */
                font-size: 15.5px;
                font-family: sans-serif;
                color: #b9dbff;
            }
            
            .play_bar {
                width: 60%;
                margin-left: 3.1%;
                border-radius: 7px;
                margin-top: 5px;
                height: auto;
                padding: 2px 0px 2px 2px;
                background-color: transparent;
                border-top: white;
                border-bottom: white;
                display: block;
                cursor: pointer;
            }
            
            .play_bar:hover {
                background-color: #ff9c5c;
                border-top: 1px solid #ff9c5c;
            }
            
            .stop_bar {
                width: 60%;
                margin-left: 3.1%;
                border-radius: 7px;
                margin-top: 5px;
                height: auto;
                padding: 2px 0px 2px 2px;
                background-color: transparent;
                border-top: white;
                border-bottom: white;
                display: block;
                cursor: pointer;
            }
            
            .stop_bar:hover {
                background-color: #ff9c5c;
                border-top: 1px solid #ff9c5c;
                color: white;
            }
            
            .upload_bar {
                width: 90%;
                margin-left: 3.1%;
                border-radius: 7px;
                margin-top: 5px;
                height: auto;
                padding: 2px 0px 2px 8px;
                background-color: #416fa1;
                border-top: white;
                border-bottom: white;
                display: block;
                cursor: pointer;
            }
            
            .upload_bar:hover {
                background-color: #ff9c5c;
                border-top: 1px solid #ff9c5c;
                color: white;
            }
            
            .queue_bar {
                width: 60%;
                margin-left: 3.1%;
                border-radius: 7px;
                margin-top: 5px;
                height: auto;
                padding: 2px 0px 2px 2px;
                background-color: transparent;
                border-top: white;
                border-bottom: white;
                display: block;
                cursor: pointer;
            }
            
            .queue_bar:hover {
                background-color: #ff9c5c;
                border-top: 1px solid #ff9c5c;
                color: white;
            }
            
            .logout_bar {
                width: 90%;
                margin-left: 3.1%;
                border-radius: 7px;
                margin-top: 50vh;
                height: auto;
                padding: 2px 0px 2px 8px;
                background-color: #416fa1;
                border-top: white;
                border-bottom: white;
                display: block;
                cursor: pointer;
            }
            
            .logout_bar:hover {
                background-color: #da2a2a;
                border-top: 1px solid #da2a2a;
                color: white;
            }
            
            .stop_bar:hover>.bar_icon {
                color: white;
            }
            
            .play_bar:hover>.bar_icon {
                color: white;
            }
            
            .upload_bar:hover>.bar_icon {
                color: white;
            }
            
            .queue_bar:hover>.bar_icon {
                color: white;
            }
            
            .logout_bar:hover>.bar_icon {
                color: white;
            }
            
            .bar_text {
                font-size: 17px;
                color: white;
                font-family: sans-serif;
                padding-left: 19px;
                position: absolute;
                margin-top: 8px;
            }
            
            .bar_icon {
                font-size: 30px;
                color: #ff9c5b;
            }
            
            .container_parent {
                width: 90%;
                min-width: 900px;
                margin-left: 10%;
                height: auto;
                display: block;
                padding-top: 20px;
                align-items: center;
                text-align: center;
            }
            
            #chart_container {
                float: left;
                padding: 10px 10px 10px 10px;
                width: 30%;
                margin-top: 30px;
                margin-left: 5%;
                display: block;
                text-align: center;
                border-radius: 10px;
                box-shadow: 2px 2px 10px 6px rgba(0, 0, 0, 0.1);
            }
            
            #weekly_chart {
                font-family: sans-serif;
                font-size: large;
                color: rgb(128, 128, 128);
                width: 75%;
                margin-left: 12%;
                height: 150px;
                padding-top: 50px;
            }
            
            .subcontainer_thumbnails {
                float: left;
                margin-left: 10%;
                margin-right: 10%;
                width: 80%;
                height: auto;
                align-items: center;
                text-align: center;
                border-radius: 5px;
                padding-bottom: 20px;
                /* border: 1px solid #5c86af; */
                background-color: #dbe8ec;
            }
            
            .thumbnail_bucket {
                width: 100%;
                height: auto;
                border-radius: 5px;
            }
            
            .thumbnails {
                list-style-type: none;
                text-decoration: none;
                text-align: center;
                position: relative;
            }
            
            .thumbnails:before {
                text-decoration: none;
                text-align: center;
                position: absolute;
            }
            
            .thumbnails li {
                text-decoration: none;
                float: left;
                margin-top: 10px;
            }
            
            .thumbnails>li>.vidtab>.vid_navbar>.play_icon {
                color: white;
            }
            
            .thumbnails>li>.vidtab>.vid_navbar>.download_icon {
                color: white;
            }
            /* For the video containers */
            
            .vidtab {
                width: 100px;
                height: 100px;
                border-radius: 5px;
                margin-left: 50px;
                margin-right: 50px;
                box-shadow: 2px 2px 6px 0.5px rgba(0, 0, 0, 0.4);
                overflow: hidden;
                cursor: pointer;
                background-color: white;
            }
            
            .vid_navbar {
                width: 95%;
                height: 20%;
                background-color: white;
                text-align: right;
                padding-right: 5%;
            }
            
            .del_button {
                background-color: #ff6161;
                width: 6px;
                height: 6px;
                border-radius: 100%;
                position: absolute;
                margin-top: 7px;
                margin-left: 10px;
                display: none;
            }
            
            .vid_img {
                width: 92%;
                height: 50%;
                background-size: auto;
                object-fit: cover;
            }
            
            .description {
                width: 95%;
                height: 30%;
                background-color: white;
                text-align: left;
                padding-left: 5%;
                overflow-x: hidden;
            }
            
            .description_text {
                font-family: Century Gothic;
                font-size: 11.5px;
                color: #5c86af;
            }
            
            .duration_text {
                font-family: sans-serif;
                font-size: 12px;
                color: orange;
                display: none;
            }
            /* Arrangement unit */
            
            .subcontainer_arrange {
                display: inline-block;
                margin-top: 20px;
                margin-left: 10%;
                margin-right: 10%;
                width: 80%;
                height: auto;
                align-items: center;
                text-align: center;
                border-radius: 5px;
                background-color: #f3f3f3;
                box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.05);
            }
            
            .arranger {
                width: 100%;
                height: auto;
                padding-top: 20px;
                padding-bottom: 20px;
                overflow-y: hidden;
            }
            
            .arrange_list {
                text-decoration: none;
                text-align: center;
                position: relative;
            }
            
            .arrange_list:before {
                text-decoration: none;
                text-align: center;
                position: absolute;
            }
            
            .arrange_list>li {
                display: inline-block;
                margin-top: 15px;
                list-style-type: none;
                word-break: break-word;
            }
            
            .arrange_list>li>.vidtab {
                width: 200px;
                height: 200px;
                border-radius: 5px;
                margin-left: 50px;
                margin-right: 50px;
                box-shadow: 2px 2px 6px 0.5px rgba(0, 0, 0, 0.4);
                overflow: hidden;
                cursor: pointer;
                background-color: white;
            }
            
            .arrange_list>li>.vidtab>.vid_navbar>.del_button {
                background-color: #ff6161;
                width: 12px;
                height: 12px;
                border-radius: 100%;
                position: absolute;
                margin-top: 15px;
                margin-left: 10px;
                display: block;
            }
            
            .arrange_list>li>.vidtab>.vid_navbar>.play_icon {
                color: white;
                font-size: 16px;
                width: 12px;
                height: 12px;
                position: absolute;
                margin-top: 13px;
                margin-left: 163px;
                display: block;
            }
            
            .arrange_list>li>.vidtab>.vid_navbar>.download_icon {
                font-size: 15px;
                width: 12px;
                height: 12px;
                position: absolute;
                margin-top: 15px;
                margin-left: 30px;
                display: block;
                color: white;
            }
            
            .queue_list>li>.vidtab>.vid_navbar>.play_icon {
                color: white;
                font-size: 16px;
                width: 12px;
                height: 12px;
                position: absolute;
                margin-top: 8px;
                margin-left: 76px;
                display: block;
            }
            
            .queue_list>li>.vidtab>.vid_navbar>.download_icon {
                font-size: 15px;
                width: 12px;
                height: 12px;
                position: absolute;
                margin-top: 10px;
                margin-left: 15px;
                display: block;
                color: white;
            }
            
            .arrange_list>li>.vidtab>.description>.description_text {
                font-family: monospace;
                font-size: 12px;
                margin-top: 18px;
                color: #5c86af;
                position: absolute;
            }
            
            .arrange_list>li>.vidtab>.description>.duration_text {
                font-family: sans-serif;
                font-size: 12.9px;
                margin-top: 3px;
                color: orange;
                position: absolute;
                display: none;
            }
            
            #publisher {
                cursor: pointer;
                background-color: #ff9c5c;
                color: white;
                font-style: bolder;
                font-size: medium;
                width: 200px;
                height: 50px;
                border-radius: 5px;
                border: none;
                margin-top: 20px;
            }
            
            .delete_present_queue {
                cursor: pointer;
                background-color: white;
                border: 2px solid #ff9c5b;
                color: #ff9c5b;
                font-style: bolder;
                font-size: medium;
                width: 200px;
                height: 50px;
                border-radius: 5px;
                /* border: none; */
                margin-top: 20px;
            }
            
            .delete_present_queue:hover {
                cursor: pointer;
                background-color: #ff9c5b;
                border: 2px solid #ff9c5b;
                color: white;
                font-style: bolder;
                font-size: medium;
                width: 200px;
                height: 50px;
                border-radius: 5px;
                /* border: none; */
                margin-top: 20px
            }
            
            #publisher:hover {
                cursor: pointer;
                background-color: #ee7b2e;
            }
            
            .upload_container {
                padding: 20px 20px 10px 10px;
                float: left;
                width: 30%;
                opacity: 1;
                margin-left: 20%;
                margin-top: 30px;
                text-align: center;
                border-radius: 10px;
                box-shadow: 2px 2px 10px 6px rgba(0, 0, 0, 0.2);
            }
            
            .upload_container>.Subheading {
                margin-bottom: 30px;
            }
            
            .queue_viewer {
                text-align: center;
                width: 70%;
                margin-left: 13%;
                height: auto;
                overflow: auto;
                /* overflow: scroll; */
                margin-top: 5px;
                margin-bottom: 30px;
                padding: 20px;
                border-bottom: 2px solid #dadada;
                display: block;
                border-radius: 10px;
                /* border: 2px solid black; */
                box-shadow: 2px 2px 15px 5px rgba(0, 0, 0, 0.2);
            }
            
            .queue_viewer-container {
                float: left;
                width: 90%;
                height: auto;
                border-radius: 10px;
                padding: 10px 0px 10px 0px;
                background-color: #dbe8ec;
                margin-top: 25px;
            }
            
            .state_buttons {
                float: left;
                margin-top: 40px;
                width: 7%;
                margin-left: 2%;
            }
            
            .state_buttons_elements {
                width: 60%;
                margin-left: 3.1%;
                border-radius: 7px;
                margin-top: 5px;
                height: auto;
                padding: 2px 0px 2px 2px;
                background-color: #5085bd;
                border-top: white;
                border-bottom: white;
                display: block;
                cursor: pointer;
            }
            
            .state_button_icon {
                font-size: 30px;
                color: #99dff5;
            }
            
            .state_button_icon:hover {
                font-size: 30px;
                color: white;
            }
            
            .queue_list {
                list-style-type: none;
                text-decoration: none;
                text-align: center;
                position: relative;
            }
            
            .queue_list>li {
                display: inline-block;
                margin-top: 15px;
                list-style-type: none;
            }
            
            .queue_list>li>.vidtab {
                width: 100px;
                height: 100px;
                border-radius: 5px;
                margin-left: 20px;
                margin-right: 10px;
                box-shadow: 2px 2px 6px 0.5px rgba(0, 0, 0, 0.4);
                overflow: hidden;
                cursor: pointer;
            }
            
            .queue_list>li>.vidtab>.description>.description_text {
                font-family: monospace;
                font-size: 12px;
                margin-top: 4px;
                color: #5c86af;
                position: absolute;
            }
            
            .queue_list>li>.vidtab>.description>.duration_text {
                font-family: sans-serif;
                font-size: 10.5px;
                margin-top: 3px;
                color: orange;
                position: absolute;
                display: none;
            }
            
            #file_upload_section2 {
                width: 100%;
                height: 200px;
                margin-top: 30px;
                border: 2px dashed #78a5dc;
                background: url(./img_assets/cloud.png) center;
                background-size: contain;
                background-repeat: no-repeat;
                text-decoration: none;
                cursor: pointer;
            }
            
            input[type="file"] {
                opacity: 0;
            }
            
            .upload_videos_button {
                cursor: pointer;
                background-color: white;
                border: 2px solid #ff9c5b;
                color: #ff9c5b;
                font-style: bolder;
                font-size: medium;
                width: 200px;
                height: 50px;
                border-radius: 5px;
                margin-top: 5px;
            }
            
            .filename_text {
                font-family: sans-serif;
                font-size: 12px;
                color: orange;
                font-weight: bold;
                margin-top: 30px;
            }
            
            .custom-file-upload {
                width: 100%;
                height: 209px;
                padding-bottom: 200px;
                margin-top: 30px;
                border: 2px dashed #78a5dc;
                background: url(./img_assets/cloud.png) center;
                background-size: contain;
                background-repeat: no-repeat;
                text-decoration: none;
                cursor: pointer;
            }
            
            #myProgress {
                width: 70%;
                margin-left: 15%;
                margin-top: 10px;
                background-color: #dbe8ec;
                border-radius: 20px;
                display: none;
            }
            
            #myBar {
                width: 0%;
                height: 15px;
                background-color: #5085bd;
                text-align: center;
                line-height: 15px;
                color: white;
                border-radius: 20px;
                font-size: 12px;
                font-family: sans-serif;
            }
            
            #thumb_img {
                width: 100px;
                height: auto;
                margin-top: 20px;
                border-radius: 4px;
                margin-top: 27px;
                border: 5px solid #ffffff;
                box-shadow: 2px 2px 8px 0.7px rgb(181, 181, 181);
                display: none;
            }
            
            #get_library {
                cursor: pointer;
                background-color: white;
                color: #ff9c5c;
                font-style: bolder;
                font-size: medium;
                width: 200px;
                height: 50px;
                border-radius: 5px;
                border: 2px solid #ff9c5c;
                margin-top: 20px;
            }
            
            #get_library:hover {
                background-color: #ff9c5c;
                color: white;
            }
            
            .bottom-container {
                min-width: 900px;
                width: 100%;
                height: auto;
                display: block;
            }
            
            .play_bar .tooltiptext {
                visibility: hidden;
                width: 120px;
                font-family: sans-serif;
                background-color: #ff9c5b;
                color: #fff;
                text-align: center;
                padding: 5px 0;
                border-radius: 6px;
                position: absolute;
                margin-left: 50px;
                z-index: 1;
            }
            
            .stop_bar .tooltiptext {
                visibility: hidden;
                width: 120px;
                font-family: sans-serif;
                background-color: #ff9c5b;
                color: #fff;
                text-align: center;
                padding: 5px 0;
                border-radius: 6px;
                position: absolute;
                margin-left: 50px;
                z-index: 1;
            }
            
            .queue_bar .tooltiptext {
                visibility: hidden;
                width: 120px;
                font-family: sans-serif;
                background-color: #ff9c5b;
                color: #fff;
                text-align: center;
                padding: 5px 0;
                border-radius: 6px;
                position: absolute;
                margin-left: 50px;
                z-index: 1;
            }
            /* Show the tooltip text when you mouse over the tooltip container */
            
            .play_bar:hover .tooltiptext {
                visibility: visible;
            }
            
            .stop_bar:hover .tooltiptext {
                visibility: visible;
            }
            
            .queue_bar:hover .tooltiptext {
                visibility: visible;
            }
            
            .spin-dot-item {
                position: absolute;
                display: block;
                width: 9px;
                height: 9px;
                background-color: #1890ff;
                border-radius: 100%;
                -webkit-transform: scale(.75);
                -ms-transform: scale(.75);
                transform: scale(.75);
                -webkit-transform-origin: 50% 50%;
                -ms-transform-origin: 50% 50%;
                transform-origin: 50% 50%;
                opacity: 1;
                -webkit-animation: antSpinMove 1s infinite linear alternate;
                animation: antSpinMove 1s infinite linear alternate;
            }